
#mainscreen{
	border:solid 1px black;
	background-color:#5d90e2;
	height:500px;
	width:700px;
	margin:auto;
	margin-top:20px;
	box-shadow: 3px 2px 10px black;
}

#clock{
margin:auto;
margin-top:10px;
text-align:center;
border:solid black;
font-size:70px;
color:#ffe900;
background-color:brown;
}

#status{
text-align:center;
font-size: 20px;
}
.panel{
	margin-left:20px;
	border:solid 3px;
	width:200px;
	height:300px;
	display:inline-block;
	vertical-align: middle;
	background-color:#ff9900;
}




button{
	display:block;
	font-size:40px;
	margin-top:20px;
	width:200px;
	height:70px;
	background-color:lightgreen;	
	border: 1px black;
	box-shadow:2px 2px 4px black;
}

#submit{
	width:100px;
	height:25px !important;
	font-size: 15px !important;
	margin-left:auto;
	margin-right:auto;
}

input{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

button:active{
background-color: #13c454;
}

#middle>button{
	height:40px;
font-size:20px;
}